doc/溯源工作流测试 (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 溯源工作流测试
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.15@775950e2071600bd3ba0415ec306c1b1582bc4a2a94688d642f627d112d87cd3
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: yangyaofei/vllm:0.1.5@3eecf807d9767f40eb757ff70720291aa6055e9e1803893b4c93b61a5d4d4319
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 17581743255630-source-17581640949590-target
      selected: false
      source: '17581743255630'
      sourceHandle: source
      target: '17581640949590'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17581811612350-source-17581743255630-target
      selected: false
      source: '17581811612350'
      sourceHandle: source
      target: '17581743255630'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 17581640949590-source-1758183452002-target
      selected: false
      source: '17581640949590'
      sourceHandle: source
      target: '1758183452002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1758261791210-source-1758264138486-target
      selected: false
      source: '1758261791210'
      sourceHandle: source
      target: '1758264138486'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1758162180883-source-1758163255080-target
      selected: false
      source: '1758162180883'
      sourceHandle: source
      target: '1758163255080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1758291738087-false-17581811612350-target
      selected: false
      source: '1758291738087'
      sourceHandle: 'false'
      target: '17581811612350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1758264138486-source-1758163292147-target
      selected: false
      source: '1758264138486'
      sourceHandle: source
      target: '1758163292147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 17587740956080-source-17581743184110-target
      selected: false
      source: '17587740956080'
      sourceHandle: source
      target: '17581743184110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1758291738087-92ca5d87-4809-4b92-b23d-44481f5a4815-17587740956080-target
      selected: false
      source: '1758291738087'
      sourceHandle: 92ca5d87-4809-4b92-b23d-44481f5a4815
      target: '17587740956080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1758163255080-source-1758879402812-target
      selected: false
      source: '1758163255080'
      sourceHandle: source
      target: '1758879402812'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1758879402812-true-17581807184490-target
      selected: false
      source: '1758879402812'
      sourceHandle: 'true'
      target: '17581807184490'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1758879402812-true-1758261791210-target
      selected: false
      source: '1758879402812'
      sourceHandle: 'true'
      target: '1758261791210'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 17581807184490-source-1758163292147-target
      selected: false
      source: '17581807184490'
      sourceHandle: source
      target: '1758163292147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1758879402812-false-17599010905630-target
      selected: false
      source: '1758879402812'
      sourceHandle: 'false'
      target: '17599010905630'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: parameter-extractor
      id: 17599010905630-source-1759938077687-target
      selected: false
      source: '17599010905630'
      sourceHandle: source
      target: '1759938077687'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1758163292147-source-1760544930581-target
      selected: false
      source: '1758163292147'
      sourceHandle: source
      target: '1760544930581'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1760544930581-source-1758184540592-target
      selected: false
      source: '1760544930581'
      sourceHandle: source
      target: '1758184540592'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1758184540592-source-1760547574178-target
      selected: false
      source: '1758184540592'
      sourceHandle: source
      target: '1760547574178'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: parameter-extractor
      id: 17581743184110-source-1760548262241-target
      selected: false
      source: '17581743184110'
      sourceHandle: source
      target: '1760548262241'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1760547574178-source-1758291738087-target
      selected: false
      source: '1760547574178'
      sourceHandle: source
      target: '1758291738087'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: llm
      id: 1760548262241-source-17581640949590-target
      selected: false
      source: '1760548262241'
      sourceHandle: source
      target: '17581640949590'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1758183452002-source-1760577652443-target
      selected: false
      source: '1758183452002'
      sourceHandle: source
      target: '1760577652443'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 52
      id: '1758162180883'
      position:
        x: 30
        y: 284
      positionAbsolute:
        x: 30
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: psy
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"输入站点问题（站点名称、时间段、异常指标、监测数据）、污染源数据文件","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1758163039945'
      position:
        x: 30
        y: 407.5093871096187
      positionAbsolute:
        x: 30
        y: 407.5093871096187
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: psy
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提取问题作为变量","type":"text","version":1},{"type":"linebreak","version":1},{"detail":0,"format":0,"mode":"normal","style":"","text":"站点名称","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"时间段","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"（监测数据）异常指标","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ' (1)'
        type: ''
        width: 240
      height: 88
      id: '17581630521470'
      position:
        x: 321.0969417598071
        y: 407.5093871096187
      positionAbsolute:
        x: 321.0969417598071
        y: 407.5093871096187
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        desc: ''
        instruction: "\n时间格式要求：YYYY-MM-DD HH:MM:SS \n城市名称：不要带“市”，包括广州,深圳,珠海,汕头,佛山,韶关,湛江,肇庆,江门,茂名,惠州,梅州,汕尾,河源,阳江,清远,东莞,中山,潮州,揭阳,云浮。\n\
          污染物指标提取包括：\"SO2\" \"CO\" \"O3\" \"PM2.5\" \"PM10\" \"NOX\"\n输入：{{#sys.query#}}"
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3
          provider: yangyaofei/vllm/vllm
        parameters:
        - description: 开始超标时间
          name: startime
          required: true
          type: string
        - description: 站点名称
          name: location
          required: true
          type: string
        - description: 污染物指标
          name: Pollutant
          required: true
          type: string
        - description: 超标结束时间
          name: endtime
          required: true
          type: string
        - description: 城市名称
          name: city
          required: true
          type: string
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1758163255080'
      position:
        x: 329.66938123854175
        y: 284
      positionAbsolute:
        x: 329.66938123854175
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: 1882bb80-16a0-419a-ae3e-f442471909d3
            type: basic
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'beginTime:{{#1758163255080.startime#}}

          endTime:{{#1758163255080.endtime#}}

          directName:{{#1758264138486.DirectName#}}

          cityname:{{#1758163255080.city#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求站点气象数据
        type: http-request
        url: http://180.184.30.94/api/AiDataService/ReportApplication/UserReportDataQuery/Query
        variables: []
      height: 140
      id: '1758163292147'
      position:
        x: 1666.3844417543446
        y: 198.39636311267338
      positionAbsolute:
        x: 1666.3844417543446
        y: 198.39636311267338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: psy
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"问题识别","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: '  (3)'
        type: ''
        width: 240
      height: 88
      id: '17581636966250'
      position:
        x: 638
        y: 180.39815291555192
      positionAbsolute:
        x: 638
        y: 180.39815291555192
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: psy
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"气象数据小时序列，时间段与站点污染物数据一致","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: '  (4)'
        type: ''
        width: 240
      height: 88
      id: '17581639295550'
      position:
        x: 1815.1190502921463
        y: -177.18877022893435
      positionAbsolute:
        x: 1815.1190502921463
        y: -177.18877022893435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: deepseek-reasoner
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: b199f0b3-c79d-4ce1-bab7-610df0430dad
          role: system
          text: '我们需要对{{#1758163255080.location#}}站点的{{#1758163255080.Pollutant#}}污染高值进行溯源分析，基础分析内容包括以下：

            1、站点上风向企业分析：{{#1758184540592.body#}}

            2、站点污染浓度分析：{{#1758165172474.text#}}

            3、VOCs组分溯源分析（仅针对臭氧污染才有数据）：{{#17581743184110.text#}}

            需要对以上分析内容进行重新文字整理与润色，分析的框架与顺序如下：

            一、站点污染情况分析

            二、VOCs组分分析

            三、污染来源分析

            四、总结分析'
        selected: false
        title: 综合分析、总结
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17581640949590'
      position:
        x: 4565.002477973068
        y: 578.2144364808213
      positionAbsolute:
        x: 4565.002477973068
        y: 578.2144364808213
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: deepseek-reasoner
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 4303b4b2-1e76-4ab6-89e4-54073f84e13d
          role: system
          text: '一、分析目标

            针对 {{#1758163255080.location#}}环境空气站开展臭氧（O₃）溯源分析，明确分析时段内该站点臭氧生成的主要贡献行业及重点企业，揭示臭氧浓度与
            OFP 的时序关联规律。

            二、提供的基础数据

            站点名称：{{#1758163255080.location#}}

            分析时段：{{#1758163255080.startime#}}-{{#1758163255080.endtime#}}

            站点臭氧浓度监测数据（单位：μg/m³）：{{#17581807184490.body#}}

            分析时段气象数据：{{#1758163292147.body#}}

            分析时段VOCs组分数据：{{#17587740956080.body#}}

            上风向企业基础数据(企业清单、经纬度、距离和污染物排放清单):{{#1758184540592.body#}}

            三、具体分析任务流程

            1.根据站点的地理信息，筛选出与其地理位置最近的一个VOC组分站，若该城市只有一个VOC组分站，则不需要进行筛选，直接选用；

            2.根据站点的污染时间段获取组分站VOCs浓度前十的数据和OFP前十的数据；

            3.根据OFP前十的数据，判断污染可能来源的行业类型；

            4.根据筛选出来的行业类型，结合上风向企业的基础信息，筛选潜在的污染来源企业；

            5.根据筛选出的潜在污染来源企业，结合企业污染物排放清单信息，筛选出VOCs排放总量前十的企业清单，若筛选出的清单数量不足10个，则全部列出。

            四、分析内容输出

            按照以下分析框架进行内容输出

            1.VOCs组分分析：①分析站点受污染时段的VOCs浓度前十物种，描述排名前5的物种类型以及浓度，并分析物种的浓度变化与臭氧的相关性；②列出站点受污染时段的OFP前十物种，分析排名前5物种的OFP贡献浓度。

            2.污染来源分析：①根据OFP前十物种，分析站点受污染的潜在来源行业；②列出潜在污染企业，以列表形式展示企业的基本信息及排放量信息。'
        selected: false
        title: VOCs溯源分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17581743184110'
      position:
        x: 3852.495070330903
        y: 234.27985102333923
      positionAbsolute:
        x: 3852.495070330903
        y: 234.27985102333923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: deepseek-reasoner
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 4303b4b2-1e76-4ab6-89e4-54073f84e13d
          role: system
          text: '一、分析目标

            针对 {{#1758163255080.location#}}环境空气站颗粒物（PM2.5、PM10）超标事件开展溯源分析，明确：① 超标时段内
            PM2.5/PM10 的主要来源（一次直接排放 / 二次转化 / 区域传输）；② 上风向区域内贡献最大的行业及重点企业；③ 气象条件对颗粒物浓度的影响，最终量化各来源的贡献占比，定位核心污染源。

            二、提供的基础数据

            站点名称：{{#1758163255080.location#}}

            分析时段：{{#1758163255080.startime#}}-{{#1758163255080.endtime#}}

            站点PM2.5/PM10 浓度监测数据（单位：μg/m³）：{{#17581807184490.body#}}

            分析时段气象数据：{{#1758163292147.body#}}

            上风向企业基础数据(企业清单、经纬度、距离和污染物排放清单):{{#1758184540592.body#}}

            三、具体分析任务要求

            1. 颗粒物来源类型解析（区分一次 / 二次 / 传输）

            一次颗粒物贡献分析：基于企业一次 PM2.5/PM10 排放量，结合 “企业与站点的距离 - 扩散衰减系数”（可采用简化模型如高斯扩散模型，或参考行业排放强度默认值），计算各企业对站点一次颗粒物的贡献浓度，汇总各行业一次贡献占比；

            二次颗粒物贡献分析：基于前体物（SO₂、NOₓ、NH₃）排放量，结合当地二次转化系数（如：SO₂转化为二次 PM2.5 的系数约 0.4-0.6，需说明系数来源，如本地环境科研报告），估算各企业
            / 行业的二次 PM2.5 贡献浓度，明确二次生成占比；

            2. 重点行业与企业贡献排序

            按 “一次贡献 + 二次贡献” 的总贡献浓度，对行业进行排序，筛选出 PM2.5/PM10 总贡献占比前 3-5 的核心行业（如：建材制造、燃煤供暖、汽车维修）；

            对核心行业内的企业，按总贡献浓度排序，确定 PM2.5 前十、PM10 前十的重点企业，标注其关键排放特征（如：某水泥厂无组织扬尘一次 PM10
            贡献占比达 15%，某化肥厂 NH₃排放导致二次 PM2.5 贡献占比达 8%）；

            分析重点企业的排放时段与超标时段的关联性（如：某钢铁厂夜间排放高峰是否对应站点清晨 PM2.5 浓度峰值）。

            3. 气象条件对超标影响分析

            绘制 “颗粒物浓度（PM2.5/PM10）- 风向风速 - 相对湿度 - 逆温层高度” 的小时序列关联图，分析气象因子的影响：如 “10:00-14:00
            出现逆温（逆温层高度 < 200m）、风速 < 1m/s，同期 PM2.5 浓度从 80μg/m³ 升至 160μg/m³，说明扩散条件差加剧超标”；

            量化气象条件的贡献：如 “若无逆温影响，颗粒物浓度预计降低 20%-30%，逆温是本次超标的重要助推因素”。

            4. 核心结论输出

            明确超标时段 PM2.5/PM10 的来源结构：如 “PM2.5 总浓度中，一次排放占 45%（建材行业占 20%、燃煤占 15%）、二次生成占
            40%（NH₃相关占 25%）、区域传输占 15%”；

            定位核心污染源：如 “PM2.5 贡献最大的企业为 XX 水泥制品厂（总贡献占比 12%，其中一次贡献 8%、二次贡献 4%），PM10 贡献最大的企业为
            XX 汽修厂（一次扬尘贡献占比 18%）”；

            指出关键影响因素：如 “本次超标是‘本地高排放（建材、燃煤）+ 二次生成（高 NH₃排放）+ 不利气象（逆温、低风速）’共同作用的结果”。

            四、输出要求

            1、报告需包含数据说明：明确数据缺失情况（如：3 家企业缺少 NH₃排放数据，可能低估二次贡献）及数据可靠性评级（如：在线监测数据为 A 级，环评报告数据为
            B 级）；

            2、需附关键图表：上风向企业分布示意图（标注重点企业）、PM2.5/PM10 来源结构饼图（一次 / 二次 / 传输）、重点行业贡献柱状图、颗粒物与气象因子时序关联图；

            3、结论需量化且可验证：避免 “某行业贡献较大” 等定性描述，需明确 “某行业总贡献占比 XX%”“某企业贡献浓度 XXμg/m³”；

            4、提出初步管控建议（可选）：如 “建议对 XX 水泥厂加强无组织扬尘治理，对 XX 化肥厂控制 NH₃排放，以降低 PM2.5 二次生成风险”。'
        selected: false
        title: 颗粒物溯源分析
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17581743255630'
      position:
        x: 3987.830718522203
        y: 480.2260003551412
      positionAbsolute:
        x: 3987.830718522203
        y: 480.2260003551412
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1801
            key: ''
            type: text
            value: "{\n  \"question\": \"{{#1758163255080.location#}}站点的小时{{#1758163255080.Pollutant#}}污染物浓度，时间为{{#1758163255080.startime#}}至{{#1758163255080.endtime#}}\"\
              \n}"
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 目标站点污染物数据（24小时）
        type: http-request
        url: http://180.184.91.74:9091/api/uqp/query
        variables: []
      height: 108
      id: '17581807184490'
      position:
        x: 1263.1448789574692
        y: 317.15287522086464
      positionAbsolute:
        x: 1263.1448789574692
        y: 317.15287522086464
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-3193
            key: ''
            type: text
            value: "{\n  \"question\": \"查询{{#1758163255080.city#}}所有站点颗粒物组分重构数据，时间周期为{{#1758163255080.startime#}}至{{#1758163255080.endtime#}}，时间精度为小时\"\
              \n}"
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求所在城市颗粒物组分站点的数据
        type: http-request
        url: http://180.184.91.74:9093/api/uqp/query
        variables: []
      height: 135
      id: '17581811612350'
      position:
        x: 3483.77725584276
        y: 480.2260003551412
      positionAbsolute:
        x: 3483.77725584276
        y: 480.2260003551412
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        template: "{{ text1 }}\r\n{{ text2 }}\r\n{{ text3 }}\r\n{{ text4 }}\r\n{{\
          \ body1 }}\r\n{{ text6 }}"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '17581640949590'
          - text
          variable: text1
        - value_selector:
          - '1758184540592'
          - body
          variable: text2
        - value_selector:
          - '1758165172474'
          - text
          variable: text3
        - value_selector:
          - '17581743255630'
          - text
          value_type: string
          variable: body1
        - value_selector:
          - '17581743184110'
          - text
          value_type: string
          variable: text6
      height: 52
      id: '1758183452002'
      position:
        x: 4911.581268148999
        y: 578.2144364808213
      positionAbsolute:
        x: 4911.581268148999
        y: 578.2144364808213
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-543
            key: ''
            type: text
            value: '{"station_name":"{{#1758163255080.location#}}","winds":{{#1760544930581.result#}},"search_range_km":5,"max_enterprises":30,"map_type":"normal","mode":"topn_mixed","top_n":8}'
          type: raw-text
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP请求周边5公里上风向企业清单
        type: http-request
        url: http://192.168.20.2:9092/api/external/wind/upwind-and-map
        variables: []
      height: 124
      id: '1758184540592'
      position:
        x: 2461.8371629400795
        y: 198.39636311267338
      positionAbsolute:
        x: 2461.8371629400795
        y: 198.39636311267338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: psy
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"判断主要风向、风速，结合企业经纬度获取上风向企业列表","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: '  (5)'
        type: ''
        width: 240
      height: 88
      id: '17581849329910'
      position:
        x: 2418.5975233670524
        y: -177.18877022893435
      positionAbsolute:
        x: 2418.5975233670524
        y: -177.18877022893435
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        author: psy
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"请求站点5公里以内的企业经纬度","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: '  (6)'
        type: ''
        width: 240
      height: 88
      id: '17581859588490'
      position:
        x: 1171.1400827793675
        y: -188.5280596779882
      positionAbsolute:
        x: 1171.1400827793675
        y: -188.5280596779882
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: station_name:{{#1758163255080.location#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求站点所在区县
        type: http-request
        url: http://180.184.91.74:9095/api/station-district/by-station-name
        variables: []
      height: 124
      id: '1758261791210'
      position:
        x: 942
        y: 73.97523277100186
      positionAbsolute:
        x: 942
        y: 73.97523277100186
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\nfrom typing import Any, Dict, Tuple\n\nCN_RE\
          \ = re.compile(r\"[\\u4e00-\\u9fff]+\")\nUNICODE_KEY_CITY = r\"\\u57ce\\\
          u5e02\"   # 城市\nUNICODE_KEY_DIST = r\"\\u533a\\u53bf\"   # 区县\n\nCITY_KEYS\
          \ = (\"城市\", \"City\", \"CityName\")\nDIST_KEYS = (\"区县\", \"District\"\
          , \"DirectName\")\n\n\ndef only_cn(s: Any) -> str:\n    return \"\".join(CN_RE.findall(str(s\
          \ or \"\")))\n\n\ndef multi_unescape_unicode(s: str, rounds: int = 8) ->\
          \ str:\n    \"\"\"将可能存在的多重反斜杠 unicode 转义序列逐步还原。\n    例如：\\\\\\\\u57ce ->\
          \ \\\\u57ce -> \\u57ce -> 城\n    \"\"\"\n    if not isinstance(s, str):\n\
          \        return s\n    cur = s\n    for _ in range(rounds):\n        # 先尽量减少多余反斜杠（将\
          \ \"\\\\u\" 变成 \"\\u\"），多次迭代\n        if \"\\\\u\" in cur:\n           \
          \ cur = cur.replace(\"\\\\\\\\u\", \"\\\\u\")\n        # 再尝试 unicode_escape\
          \ 解码\n        try:\n            nxt = cur.encode(\"utf-8\", \"ignore\").decode(\"\
          unicode_escape\")\n        except Exception:\n            break\n      \
          \  if nxt == cur:\n            break\n        cur = nxt\n    return cur\n\
          \n\ndef deep_loads(x: Any, max_round: int = 20) -> Any:\n    \"\"\"逐层解析可能多重转义的\
          \ JSON 字符串；必要时做 unicode 反转义后再 loads。\"\"\"\n    cur = x\n    for _ in range(max_round):\n\
          \        if isinstance(cur, (dict, list)):\n            return cur\n   \
          \     if not isinstance(cur, str):\n            return cur\n        s =\
          \ cur.strip()\n        if not s:\n            return {}\n        # 1) 直接\
          \ loads\n        try:\n            nxt = json.loads(s)\n            if nxt\
          \ == cur:\n                return nxt\n            cur = nxt\n         \
          \   continue\n        except Exception:\n            pass\n        # 2)\
          \ 多次 unicode 反转义后再 loads\n        try:\n            unescaped = multi_unescape_unicode(s)\n\
          \            nxt2 = json.loads(unescaped)\n            cur = nxt2\n    \
          \        continue\n        except Exception:\n            return cur\n \
          \   return cur\n\n\ndef try_regex_from_raw_any(raw_any: Any) -> Tuple[str,\
          \ str]:\n    \"\"\"直接在原始文本上用正则兜底提取（无需先拿到 body）。\"\"\"\n    city = \"\"\n\
          \    dist = \"\"\n    if not isinstance(raw_any, str):\n        return city,\
          \ dist\n\n    raw = raw_any\n    raw_unescaped = multi_unescape_unicode(raw)\n\
          \n    # 先在反转义后的文本里匹配中文键\n    m1a = re.search(r'\"城市\"\\s*:\\s*\"([^\"]+)\"\
          ', raw_unescaped)\n    if m1a:\n        city = only_cn(m1a.group(1))\n \
          \   m2a = re.search(r'\"区县\"\\s*:\\s*\"([^\"]+)\"', raw_unescaped)\n   \
          \ if m2a:\n        dist = only_cn(m2a.group(1))\n\n    # 再在原文里匹配 unicode\
          \ 键并对值多次反转义\n    if not city:\n        m1u = re.search(r'\"%s\"\\s*:\\s*\"\
          ([^\"]+)\"' % UNICODE_KEY_CITY, raw)\n        if m1u:\n            city\
          \ = only_cn(multi_unescape_unicode(m1u.group(1)))\n    if not dist:\n  \
          \      m2u = re.search(r'\"%s\"\\s*:\\s*\"([^\"]+)\"' % UNICODE_KEY_DIST,\
          \ raw)\n        if m2u:\n            dist = only_cn(multi_unescape_unicode(m2u.group(1)))\n\
          \n    return city, dist\n\n\ndef extract_from_data(data: Dict[str, Any])\
          \ -> Tuple[str, str]:\n    city = \"\"\n    dist = \"\"\n    for k in CITY_KEYS:\n\
          \        if k in data:\n            city = only_cn(data.get(k))\n      \
          \      break\n    for k in DIST_KEYS:\n        if k in data:\n         \
          \   dist = only_cn(data.get(k))\n            break\n    return city, dist\n\
          \n\ndef main(arg1: Any) -> Dict[str, str]:\n    \"\"\"\n    输入：\n      -\
          \ arg1: 上游HTTP节点完整输出（包含 status_code/body/headers），或其字符串表示（哪怕层层转义）。\n   \
          \ 输出：\n      - CityName: 城市中文名（仅中文）\n      - DirectName: 区县中文名（仅中文）\n  \
          \  \"\"\"\n    # 1) 尝试结构化解析\n    resp = deep_loads(arg1)\n\n    city = \"\
          \"\n    dist = \"\"\n\n    # 2) 如果拿到 dict，优先从结构化路径解析\n    body_raw = None\n\
          \    if isinstance(resp, dict):\n        if \"body\" in resp:\n        \
          \    body_raw = resp.get(\"body\")\n            body = deep_loads(body_raw)\n\
          \        else:\n            body = resp\n            body_raw = arg1 if\
          \ isinstance(arg1, str) else json.dumps(resp, ensure_ascii=False)\n\n  \
          \      if not (isinstance(body, dict) and \"data\" in body):\n         \
          \   body = deep_loads(body)\n        data = body.get(\"data\") if isinstance(body,\
          \ dict) else {}\n        if not isinstance(data, dict):\n            data\
          \ = {}\n\n        city, dist = extract_from_data(data)\n\n    # 3) 若结构化仍为空，退回到原始文本正则兜底\n\
          \    if (not city or not dist):\n        rc, rd = try_regex_from_raw_any(arg1\
          \ if body_raw is None else body_raw)\n        city = city or rc\n      \
          \  dist = dist or rd\n        if (not city or not dist) and isinstance(arg1,\
          \ str):\n            rc2, rd2 = try_regex_from_raw_any(arg1)\n         \
          \   city = city or rc2\n            dist = dist or rd2\n\n    return {\n\
          \        \"CityName\": city,\n        \"DirectName\": dist,\n    }\n\nif\
          \ __name__ == \"__main__\":\n    # 使用你给的样例做自测\n    sample = {\n        \"\
          status_code\": 200,\n        \"body\": \"{\\n  \\\"data\\\": {\\n    \\\"\
          \\\\u4e61\\\\u9547\\\": \\\"\\\\u5357\\\\u6e90\\\\u8857\\\\u9053\\\",\\\
          n    \\\"\\\\u533a\\\\u53bf\\\": \\\"\\\\u8354\\\\u6e7e\\\\u533a\\\",\\\
          n    \\\"\\\\u57ce\\\\u5e02\\\": \\\"\\\\u5e7f\\\\u5dde\\\",\\n    \\\"\\\
          \\u7701\\\\u4efd\\\": \\\"\\\\u5e7f\\\\u4e1c\\\\u7701\\\"\\n  },\\n  \\\"\
          status\\\": \\\"success\\\"\\n}\\n\",\n    }\n    print(main(json.dumps(sample,\
          \ ensure_ascii=False)))\n"
        code_language: python3
        desc: ''
        outputs:
          CityName:
            children: null
            type: string
          DirectName:
            children: null
            type: string
        selected: false
        title: 代码执行城市名称和区县名称提取
        type: code
        variables:
        - value_selector:
          - '1758261791210'
          - body
          variable: arg1
      height: 52
      id: '1758264138486'
      position:
        x: 1292.291173185167
        y: 73.97523277100186
      positionAbsolute:
        x: 1292.291173185167
        y: 73.97523277100186
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 92ca5d87-4809-4b92-b23d-44481f5a4815
          conditions:
          - comparison_operator: contains
            id: 834a7e1a-2028-4fc8-a36f-f9d74d662023
            value: O3
            varType: string
            variable_selector:
            - '1758163255080'
            - Pollutant
          id: 92ca5d87-4809-4b92-b23d-44481f5a4815
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1758291738087'
      position:
        x: 3135.813008067536
        y: 198.39636311267338
      positionAbsolute:
        x: 3135.813008067536
        y: 198.39636311267338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-3193
            key: ''
            type: text
            value: "{\n  \"question\": \"查询{{#1758163255080.city#}}所有站点的OFP前十数据，时间周期为{{#1758163255080.startime#}}至{{#1758163255080.endtime#}}，时间精度为小时\"\
              \n}"
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求所在城市VOCs组分站点的数据 (1)
        type: http-request
        url: http://180.184.91.74:9092/api/uqp/query
        variables: []
      height: 108
      id: '17587740956080'
      position:
        x: 3490.4122543243593
        y: 234.27985102333923
      positionAbsolute:
        x: 3490.4122543243593
        y: 234.27985102333923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 976b82a2-fa60-476f-b17e-17e43dbf3df5
            value: ''
            varType: string
            variable_selector:
            - '1758163255080'
            - location
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支 2
        type: if-else
      height: 124
      id: '1758879402812'
      position:
        x: 638
        y: 284
      positionAbsolute:
        x: 638
        y: 284
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'city_name:{{#1758163255080.city#}}

          fields:name

          station_type_id:1.0'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求城市所有的国控站点信息
        type: http-request
        url: http://180.184.91.74:9095/api/station-district/by-city
        variables: []
      height: 135
      id: '17599010905630'
      position:
        x: 1094.4084756662394
        y: 504.53421085622404
      positionAbsolute:
        x: 1094.4084756662394
        y: 504.53421085622404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        instruction: 按照顺序提取所有的站点名称，没有则为空。
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        parameters:
        - description: 站点名称
          name: station_name1
          required: false
          type: string
        - description: 站点数量
          name: total
          required: false
          type: string
        - description: 站点2
          name: station_name2
          required: false
          type: string
        - description: 站点3
          name: station_name3
          required: false
          type: string
        - description: 站点4
          name: station_name4
          required: false
          type: string
        - description: 站点5
          name: station_name5
          required: false
          type: string
        - description: 站点6
          name: station_name6
          required: false
          type: string
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: 参数提取器 3
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1759938077687'
      position:
        x: 1632.4643490108206
        y: 504.53421085622404
      positionAbsolute:
        x: 1632.4643490108206
        y: 504.53421085622404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(arg1):\n    \"\"\"\n    将气象数据转换为上风向企业接口所需的winds数组格式\n\
          \n    输入：arg1 - 气象数据数组或JSON字符串（支持多重转义）\n    输出：result - winds数组的JSON字符串\n\
          \    \"\"\"\n    weather_data = arg1\n\n    # 处理多重转义：先减少反斜杠，再解析JSON\n  \
          \  for _ in range(20):\n        if isinstance(weather_data, list):\n   \
          \         break\n\n        if isinstance(weather_data, str):\n         \
          \   # 步骤1: 减少反斜杠（\\\\\\\\u 变成 \\\\u，\\\\u 变成 u）\n            if '\\\\\\\\\
          ' in weather_data:\n                weather_data = weather_data.replace('\\\
          \\\\\\', '\\\\')\n                continue\n\n            # 步骤2: 尝试JSON解析\n\
          \            try:\n                weather_data = json.loads(weather_data)\n\
          \                continue\n            except:\n                # 解析失败，尝试unicode_escape解码\n\
          \                try:\n                    weather_data = weather_data.encode('utf-8').decode('unicode_escape')\n\
          \                    continue\n                except:\n               \
          \     break\n        else:\n            break\n\n    # 确保是数组类型\n    if not\
          \ isinstance(weather_data, list):\n        return {\"result\": \"[]\"}\n\
          \n    # 转换为winds格式\n    winds = []\n    for item in weather_data:\n    \
          \    if not isinstance(item, dict):\n            continue\n\n        # 获取风向、风速和时间\n\
          \        wind_direction = item.get('windDirection')\n        wind_speed\
          \ = item.get('windSpeed')\n        time_point = item.get('timePoint')\n\n\
          \        # 过滤无效数据\n        if wind_direction is None or wind_direction >=\
          \ 360 or wind_direction < 0:\n            continue\n        if wind_speed\
          \ is None:\n            continue\n        if not time_point:\n         \
          \   continue\n\n        # 转换时间格式：从 \"2025-08-09 00:00\" 到 \"2025-08-09T00:00:00Z\"\
          \n        time_iso = str(time_point).replace(' ', 'T') + ':00Z'\n\n    \
          \    # 构建winds数组元素\n        winds.append({\n            \"time\": time_iso,\n\
          \            \"wd_deg\": float(wind_direction),\n            \"ws_ms\":\
          \ float(wind_speed)\n        })\n\n    # 转换为JSON字符串\n    result = json.dumps(winds,\
          \ ensure_ascii=False)\n\n    return {\"result\": result}\n\n\nif __name__\
          \ == \"__main__\":\n    # 测试多重转义\n    test = '[{\\\\\\\\\\\\\"cityName\\\
          \\\\\\\\\\\":\\\\\\\\\\\\\"广州\\\\\\\\\\\\\",\\\\\\\\\\\\\"timePoint\\\\\\\
          \\\\\\\":\\\\\\\\\\\\\"2025-08-09 00:00\\\\\\\\\\\\\",\\\\\\\\\\\\\"windDirection\\\
          \\\\\\\\\\\":175.0,\\\\\\\\\\\\\"windSpeed\\\\\\\\\\\\\":1.4}]'\n    print(\"\
          测试多重转义数据:\")\n    print(main(test))"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 气象数据格式处理
        type: code
        variables:
        - value_selector:
          - '1758163292147'
          - body
          variable: arg1
      height: 52
      id: '1760544930581'
      position:
        x: 2083.251185184031
        y: 198.39636311267338
      positionAbsolute:
        x: 2083.251185184031
        y: 198.39636311267338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from typing import Dict, Any, Optional\nimport json\n\ndef main(arg1:\
          \ str) -> Dict[str, Any]:\n    def loads_maybe(s: str):\n        try:\n\
          \            return json.loads(s)\n        except Exception:\n         \
          \   return None\n\n    def deep_extract_obj(x: Any) -> Optional[dict]:\n\
          \        \"\"\"\n        尽力从任意形态中还原到一个 dict（接口响应对象），最多 5 轮解码。\n        \"\
          \"\"\n        # 已是 dict\n        if isinstance(x, dict):\n            return\
          \ x\n\n        # 已是字符串：多轮尝试\n        if isinstance(x, str):\n          \
          \  txt = x.strip()\n            for _ in range(5):\n                # 先尝试直接\
          \ loads\n                obj = loads_maybe(txt)\n                if isinstance(obj,\
          \ dict):\n                    return obj\n                # 若不是 dict，可能本身是字符串（被再次包了一层引号）\n\
          \                if isinstance(obj, str):\n                    txt = obj.strip()\n\
          \                    continue\n                # 再尝试通过 unicode_escape 反转义一次\n\
          \                try:\n                    unesc = bytes(txt, \"utf-8\"\
          ).decode(\"unicode_escape\")\n                    # 去掉可能的多余引号\n        \
          \            if unesc.startswith('\"') and unesc.endswith('\"'):\n     \
          \                   unesc = unesc[1:-1]\n                    obj2 = loads_maybe(unesc)\n\
          \                    if isinstance(obj2, dict):\n                      \
          \  return obj2\n                    if isinstance(obj2, str):\n        \
          \                txt = obj2.strip()\n                        continue\n\
          \                except Exception:\n                    pass\n         \
          \       # 简单替换 \\\" -> \" 再试\n                txt2 = txt.replace('\\\\\"\
          ', '\"')\n                obj3 = loads_maybe(txt2)\n                if isinstance(obj3,\
          \ dict):\n                    return obj3\n                if isinstance(obj3,\
          \ str):\n                    txt = obj3.strip()\n                    continue\n\
          \                break\n            return None\n\n        # 如果是列表，无法直接提取（不是响应对象）\n\
          \        return None\n\n    def extract_public_url(obj: dict) -> Optional[str]:\n\
          \        # 直接 public_url\n        url = obj.get(\"public_url\")\n      \
          \  if isinstance(url, str) and url:\n            return url\n        # public_urls[0]\n\
          \        urls = obj.get(\"public_urls\")\n        if isinstance(urls, list)\
          \ and urls and isinstance(urls[0], str):\n            return urls[0]\n \
          \       return None\n\n    # 入口：先尝试将 arg1 解析为 dict；若是顶层对象含 body，则继续解析 body\n\
          \    obj = deep_extract_obj(arg1)\n    if isinstance(obj, dict):\n     \
          \   # 先在顶层找\n        url = extract_public_url(obj)\n        if url:\n  \
          \          return {\"result\": url}\n        # 若存在 body，则尝试从 body 再解析\n\
          \        body = obj.get(\"body\")\n        if isinstance(body, dict):\n\
          \            url = extract_public_url(body)\n            if url:\n     \
          \           return {\"result\": url}\n        if isinstance(body, str):\n\
          \            body_obj = deep_extract_obj(body)\n            if isinstance(body_obj,\
          \ dict):\n                url = extract_public_url(body_obj)\n         \
          \       if url:\n                    return {\"result\": url}\n\n    # 没有解析到，返回空字符串\n\
          \    return {\"result\": \"\"}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: URL链接提取
        type: code
        variables:
        - value_selector:
          - '1758184540592'
          - body
          variable: arg1
      height: 52
      id: '1760547574178'
      position:
        x: 2793.7982675982307
        y: 198.39636311267338
      positionAbsolute:
        x: 2793.7982675982307
        y: 198.39636311267338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        instruction: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-ai/DeepSeek-R1
          provider: langgenius/siliconflow/siliconflow
        parameters:
        - description: 企业清单
          name: enterprise_names
          required: false
          type: string
        query:
        - '17581743184110'
        - text
        reasoning_mode: prompt
        selected: false
        title: 提取最终的企业清单
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1760548262241'
      position:
        x: 4212.079123190646
        y: 234.27985102333923
      positionAbsolute:
        x: 4212.079123190646
        y: 234.27985102333923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1758183452002.output#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1760577652443'
      position:
        x: 5217.663638032916
        y: 578.2144364808213
      positionAbsolute:
        x: 5217.663638032916
        y: 578.2144364808213
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -741.716280423303
      y: 152.52553454150143
      zoom: 0.8572440108367627
